* {
	font-family: 'Roboto', sans-serif
}	

@import 'icomoon';
/* @import 'icon-fonts'; */

@import "variables";
@import "mixins";
@import "general";
@import "header";
@import "promo";
@import "reasons";
@import "app";
@import "choice";
@import "condition";
@import "world";
@import "footer";